<section class="s-content s-content--narrow s-content--no-padding-bottom">

        <article class="row format-standard">

            <div class="s-content__header col-full">
                <h1 class="s-content__header-title">
                    Error 404
                </h1>
                <ul class="s-content__header-meta">
                    <li class="date">Looks like the page you are trying to visit does not exist, Please check the URL and Try again.</li>
                    
                </ul>
            </div> <!-- end s-content__header -->
				</article>
				
</section>
<section class="s-extra" style="background-color: #f2f2f2; padding-top: 2rem;padding-bottom: 2rem;border-bottom: 2px solid;">

		<div class="row bottom tags-wrap">
				<div class="col-full tags">

						<div class="tagcloud">
								<a href="/">Home</a>
						</div> <!-- end tagcloud -->
				</div> <!-- end tags -->
		</div> <!-- end tags-wrap -->

</section>